@import "tailwindcss";


/* nome que deve seguir um padrão "--color-<nome>-<nível>" */
@theme {
  --color-base-tematica-1: var(--base-tematica);
  --color-tematica-2: var(--tematica);
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}

.animate-slideDown {
  animation: slideDown .25s ease-out;
}



/* bg-mint-500	       background-color
text-mint-500	         color (texto)
border-mint-500	       border-color
outline-mint-500	     outline-color
ring-mint-500	         ring-color
fill-mint-500	         fill (SVG)
stroke-mint-500	       stroke (SVG) */