@import "tailwindcss";


/* nome que deve seguir um padrão "--color-<nome>-<nível>" */
@theme {
  /* Cores tematicas */
  --color-base-tematica-1: var(--base-tematica);
  --color-tematica-2: var(--tematica);

  /* Food Menu */
  --color-food-menu-card-fundo-3: var(--food-menu-card-fundo);
  --color-food-menu-card-escrita-4: var(--food-menu-card-escrita);
  --color-food-menu-escrita-5: var(--food-menu-escrita);
  --color-food-menu-fundo-7: var(--food-menu-fundo);
  
  --color-dinheiro-6: var(--dinheiro);
}



@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}

.animate-slideDown {
  animation: slideDown .25s ease-out;
}



/* bg-mint-500	       background-color
text-mint-500	         color (texto)
border-mint-500	       border-color
outline-mint-500	     outline-color
ring-mint-500	         ring-color
fill-mint-500	         fill (SVG)
stroke-mint-500	       stroke (SVG) */